<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ error }}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
        <h1>{{ error }}</h1>
            
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>